<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/styles.css">
    <script type="text/javascript" src="/client.js"></script>
  <title>Wordle</title>
</head>
<body>
  <div class="word">
    <div class="word-header">
      <a href="/play"><h1>Wordle</h1></a>
    </div>
    
    <div class="word-container">
      <div class="guess-letters">
       
          {{#each guessedWords}}
            <div class="guess-letters-container" id='word-{{@index}}'>
              {{#each this}}
                <a class="letters-item" style="background-color:{{this.color}};">{{this.letter}}</a>
              {{/each}}
            </div>
          {{/each}}
      </div>
    </div>
    <div class="word-stats">
        {{!-- <div class="guesses">
            Number of guesses: {{guesses}}
        </div> --}}
        
        {{#if isOver}}
            {{#if won}}
                <h1>You won!</h1>
            {{else}}
                <h1>You lost!</h1>
                <h2>The word was: {{word}}</h2>
            {{/if}}
        {{/if}}
        
    </div>
    <div class="word-guess-area">
      <span id="guessWord" value="" hidden></span>
      <button id="onPlayButton" onclick="onPlay({{id}})"></button>
    </div>
  </div>
  <script>
    writeWord({{guesses}}, {{isOver}})
  </script>

</body>
</html>
